html, body {
	font-family: Helvetica, "Helvetica Neue", sans-serif;
}

section#footer {
	font-size: 0.795em;
}


#debug {
	border: 3px #FED dotted;
	color: #655;
	font-size: 0.8em;
}

.chat.message {
	position:relative;
	background-color: inherit;
	border: 1px solid #ddd;
	padding: 2px;
	padding-bottom: 5px;
	border-bottom: none;
	margin-bottom: none;
	clear:both;
}

.chat.inner {
	clear:both;
}

.author {
	float:left;
	position:relative;
}

timestamp {
	float:right;
	position:relative;
	font-size: 0.8em;
}
